@import 'tailwindcss';

@import './layouts/container.css';
@import './layouts/sidebar.css';
@import './layouts/horizontal.css';
@import './layouts/header.css';
@import './pages/dashboards.css';
@import './pages/widgets.css';

@import './pages/landingpage.css';
@import './pages/frontend-pages.css';
@import './pages/auth.css';
@import './pages/app.css';

@import './theme/dark.css';
@import './override/reboot.css';
@import './layouts/rtl.css';

@import './theme/default-theme.css';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--error);
  --color-chart-4: var(--warning);
  --color-chart-3: var(--success);
  --color-chart-2: var(--secondary);
  --color-chart-1: var(--primary);

  --color-ring: var(--lightprimary);
  --color-input: var(--border);
  --color-border: var(--border);

  --color-destructive: var(--error);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--white);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--white);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* custom color */
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --color-lightprimary: var(--lightprimary);
  --color-lightsecondary: var(--lightsecondary);
  --color-lightsuccess: var(--lightsuccess);
  --color-lightinfo: var(--lightinfo);
  --color-lightwarning: var(--lightwarning);
  --color-lighterror: var(--lighterror);

  --color-primaryemphasis: var(--primary-emphasis);
  --color-secondaryemphasis: var(--secondary-emphasis);
  --color-successemphasis: var(--success-emphasis);
  --color-infoemphasis: var(--info-emphasis);
  --color-warningemphasis: var(--warning-emphasis);
  --color-erroremphasis: var(--error-emphasis);

  --color-bordergray: var(--bordergray);
  --color-lightgray: var(--lightgray);

  --color-bodytext: var(--bodytext);
  --color-lightmuted: var(--lightmuted);
  --color-grayemphasis: var(--gray-emphasis);
  --color-lightemphasis: var(--light-emphasis);
  --color-dark: var(--dark);
  --color-link: var(--link);

  --color-darkgray: var(--darkgray);
  --color-darkinfo: var(--darkinfo);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-darkmuted: var(--muted);
  --color-darklink: var(--link);
  --color-darkborder: var(--border);

  --color-cyan-500: var(--primary);
  --color-cyan-600: var(--primary);
  --color-cyan-700: var(--primary);

  /* custom color end */

  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-dark-md: var(--shadow-dark-md);
  --shadow-sm: var(--shadow-sm);
  --shadow-btn-shadow: var(--shadow-btn-shadow);

  --text-40: var(--text-40);
  --text-56: var(--text-56);
  --text-fs_21: var(--text-fs_21);
  --text-fs_13: var(--text-fs_13);
  --text-fs_28: var(--text-fs_28);

  --leading-21: var(--leading-21);
}

:root {
  /* ShadCN Compnent */
  --radius: 10px;
  --background: #fff;
  --foreground: var(--color-link);
  --card: var(--color-white);
  --card-foreground: var(--color-link);
  --popover: var(--color-white);
  --popover-foreground: var(--color-link);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-white);
  --muted: #5a6a85;
  --muted-foreground: #737373;
  --accent: var(--color-lightprimary);
  --accent-foreground: var(--color-primary);
  --destructive: var(--color-error);
  --border: #e5e5e5;
  --input: var(--color-input);
  --ring: var(--color-lightprimary);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-success);
  --chart-4: var(--color-warning);
  --chart-5: var(--color-error);
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--color-link);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-lightprimary);
  --sidebar-accent-foreground: var(--color-primary);
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;

  /* ----------------------------------- custom color variable ----------------------------------- */
  --info: #8754ec;
  --success: #13deb9;
  --warning: #f6b51e;
  --error: #ef4444;
  --white: #fff;
  --dark: #1c2536;
  --darkinfo: #223662;
  --lightgray: #f6f9fc;
  --bgmuted: #eff4fa;
  --darkgray: #465670;
  --bodytext: #5a6a85;
  --lightmuted: #5d7287;
  --link: #2a3547;
  --light-emphasis: #dfe5ef;
  --destructive-foreground: var(--color-white);

  /* ----------- generate emphasis and lighter color of primary and secondary -------------- */

  /* Lighter/opacity-like versions */
  --lightprimary: color-mix(in oklab, var(--color-primary) 12%, transparent);
  --lightsecondary: color-mix(
    in oklab,
    var(--color-secondary) 12%,
    transparent
  );
  --lightsuccess: color-mix(in oklab, var(--color-success) 12%, transparent);
  --lightinfo: color-mix(in oklab, var(--color-info) 12%, transparent);
  --lightwarning: color-mix(in oklab, var(--color-warning) 12%, transparent);
  --lighterror: color-mix(in oklab, var(--color-error) 12%, transparent);

  /* Darker versions (emphasis) */
  --primary-emphasis: color-mix(in oklab, var(--primary) 80%, black);
  --secondary-emphasis: color-mix(in oklab, var(--secondary) 80%, black);
  --success-emphasis: color-mix(in oklab, var(--success) 80%, black);
  --info-emphasis: color-mix(in oklab, var(--info) 80%, black);
  --warning-emphasis: color-mix(in oklab, var(--warning) 80%, black);
  --error-emphasis: color-mix(in oklab, var(--error) 80%, black);

  /* ----------------------------------- custom color variable end ----------------------------------- */

  /* shadow */
  --shadow-md: rgb(145 158 171 / 30%) 0px 0px 2px 0px,
    rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --shadow-dark-md: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.02) 0px 12px 24px -4px;
  --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --shadow-btn-shadow: rgba(0, 0, 0, 0.05) 0 9px 17.5px;

  /* font-size */
  --text-40: 40px;
  --text-56: 56px;
  --text-fs_21: 21px;
  --text-fs_13: 13px;
  --text-fs_28: 28px;

  /* line-height */
  --leading-21: 21px;
}

.dark {
  --background: #1c2536;
  --foreground: var(--color-white);
  --card: var(--color-dark);
  --card-foreground: var(--color-white);
  --popover: var(--color-dark);
  --popover-foreground: var(--color-white);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-white);
  --muted: #2a3851;
  --muted-foreground: var(--color-muted-foreground);
  --accent: var(--color-lightprimary);
  --accent-foreground: var(--color-primary);
  --destructive: var(--color-error);
  --border: #333f55;
  --input: var(--color-darkborder);
  --ring: var(--color-lightprimary);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-success);
  --chart-4: var(--color-warning);
  --chart-5: var(--color-error);
  --sidebar: var(--color-sidebar);
  --sidebar-foreground: var(--color-sidebar-foreground);
  --sidebar-primary: var(--color-sidebar-primary);
  --sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --sidebar-accent: var(--color-sidebar-accent);
  --sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --sidebar-border: var(--color-sidebar-border);
  --sidebar-ring: var(--color-sidebar-ring);

  /* custom color variable */
  --info: #8754ec;
  --success: #13deb9;
  --warning: #f6b51e;
  --error: #ef4444;
  --white: #fff;
  --dark: #1c2536;
  --darkinfo: #223662;
  --lightgray: #f6f9fc;
  --link: #7c8fac;
  --bgmuted: #eff4fa;
  --darkgray: #465670;
  --bodytext: #5a6a85;
  --lightmuted: #5d7287;
  --light-emphasis: #dfe5ef;
  --destructive-foreground: var(--color-white);

  /* ----------- generate emphasis and lighter color of primary and secondary -------------- */

  /* Lighter/opacity-like versions */
  --lightprimary: color-mix(in oklab, var(--primary) 12%, transparent);
  --lightsecondary: color-mix(in oklab, var(--secondary) 12%, transparent);
  --lightsuccess: color-mix(in oklab, var(--success) 12%, transparent);
  --lightinfo: color-mix(in oklab, var(--info) 12%, transparent);
  --lightwarning: color-mix(in oklab, var(--warning) 12%, transparent);
  --lighterror: color-mix(in oklab, var(--error) 12%, transparent);

  /* Darker versions (emphasis) */
  --primary-emphasis: color-mix(in oklab, var(--primary) 80%, black);
  --secondary-emphasis: color-mix(in oklab, var(--secondary) 80%, black);
  --success-emphasis: color-mix(in oklab, var(--success) 80%, black);
  --info-emphasis: color-mix(in oklab, var(--info) 80%, black);
  --warning-emphasis: color-mix(in oklab, var(--warning) 80%, black);
  --error-emphasis: color-mix(in oklab, var(--error) 80%, black);
}

@utility container {
  margin-inline: auto;
  padding-inline: 30px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container {
  /* @apply max-w-[1200px]; */

  .landingpage & {
    @apply max-w-[1320px];
  }
  .frontend-page & {
    @apply max-w-[1410px];
  }
}

@utility container-md {
  @apply max-w-[1218px] mx-auto;
}

@utility landingpage {
  & .container {
    @apply max-w-[1320px];
  }
}

@utility frontend-page {
  & .container {
    @apply max-w-[1410px];
  }
}

@utility dropdown {
  @apply shadow-md bg-white dark:bg-dark relative rounded-sm dark:shadow-dark-md;
}

@utility card-title {
  @apply text-lg font-semibold text-dark dark:text-white;
}

@utility card-subtitle {
  @apply text-sm text-link font-normal;
}

@utility input-group {
  & input {
    @apply border border-border rounded-md border-r-0 rtl:border-r rtl:border-l-0 rounded-r-none rtl:rounded-r rtl:rounded-l-none bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 dark:ring-transparent ring-transparent;
  }
}

@utility border-less-input {
  & input {
    @apply border-none border-border rounded-md border-r-0 px-2.5 h-full rounded-r-none bg-transparent dark:bg-transparent w-full text-sm;
  }
  & input:focus {
    @apply text-sm border-none ring-offset-0 dark:ring-transparent ring-transparent shadow-none;
  }
}

@utility button-group {
  & span {
    @apply px-3 gap-1.5;
  }
}

@utility border-ld {
  @apply border-border;
}

@utility bg-hover {
  @apply hover:bg-lightprimary dark:hover:bg-lightprimary;
}

@utility form-control {
  & input {
    @apply border rounded-md border-border bg-transparent ring-transparent dark:ring-transparent dark:bg-transparent w-full text-sm;
  }
  & input:focus {
    @apply shadow-none dark:shadow-none ring-transparent dark:ring-transparent;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
  &.trans-input input {
    @apply border border-ld bg-transparent dark:bg-transparent w-full ps-11 py-2 text-sm placeholder:text-black/50 dark:placeholder:text-lightgray rounded-xs;
  }

  &.trans-input input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-group-left {
  /* Input group */
  & input {
    @apply border rounded-r-md border-border bg-transparent ring-transparent dark:ring-transparent dark:bg-transparent w-full text-sm;
  }
  & input:focus {
    @apply shadow-none dark:shadow-none ring-transparent dark:ring-transparent;
  }
}

@utility form-control-chat {
  & input {
    @apply rounded-md border-0 bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-0! bg-transparent dark:bg-transparent w-full text-sm ring-transparent dark:ring-transparent;
  }
}

@utility form-control-rounded {
  & input {
    @apply rounded-full border border-border bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-textarea {
  @apply rounded-md border border-border bg-transparent dark:bg-transparent w-full text-sm p-4;

  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-input {
  @apply rounded-md border border-border bg-transparent dark:bg-transparent w-full text-sm;

  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-rounded-md {
  & input {
    @apply rounded-md border border-border bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-rounded {
  & input {
    @apply rounded-md;
  }
}

@utility input-center {
  & input {
    @apply text-center;
  }
}

@utility elipse {
  @apply w-[18px] h-[10px];
}

@utility select-option {
  & select {
    @apply bg-lightgray border-0 text-link dark:text-white/80 py-2 ps-4 pe-9 w-auto focus:border-0 focus:ring-0 font-medium;
  }
}

@utility select-md {
  & select {
    @apply border-ld bg-transparent dark:bg-dark w-full py-2 ps-4 pr-10 dark:text-white text-bodytext text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-md {
  & select {
    & option {
      @apply bg-white dark:bg-dark;
    }
  }
}

@utility select-md-contact {
  & select {
    @apply border-ld bg-transparent dark:bg-dark w-full py-2 ps-4 pr-10 dark:text-white text-bodytext text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-rounded {
  & select {
    @apply border-ld bg-transparent dark:bg-dark w-full text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-md-transparent {
  & select {
    @apply border-ld bg-transparent dark:bg-gray-800/70 w-full text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-rounded-transparent {
  & select {
    @apply border-ld bg-transparent dark:bg-gray-800/70 w-full text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility checkbox {
  @apply !h-[20px] !w-[20px] !border !border-border !bg-transparent focus:!ring-0 focus:!ring-offset-0 checked:!bg-primary dark:checked:!bg-primary rounded cursor-pointer !shrink-0;
}

@utility text-primary-ld {
  @apply hover:text-primary dark:hover:text-primary;
}

@utility left-part {
  @apply w-80 border-e border-ld p-6;
}

@utility btn-circle {
  @apply !h-8 !w-8 !rounded-md !flex justify-center items-center p-0 text-ld !shrink-0;
}

@utility btn-circle-hover {
  @apply h-9 w-9 flex justify-center items-center rounded-full hover:bg-lightprimary hover:text-primary cursor-pointer bg-transparent;
}

@utility text-ld {
  @apply text-dark dark:text-white/70;
}

@utility avatar-full {
  & img {
    @apply w-full h-full;
  }
}

@utility sorting {
  & button {
    @apply bg-transparent text-dark dark:text-white p-0;
  }

  & button:hover {
    @apply bg-transparent;
  }

  & button span {
    @apply p-0;
  }

  & ul li {
    @apply px-4 py-2;
  }

  & ul li button:hover {
    @apply hover:text-primary;
  }
}

@utility ui-button {
  @apply flex items-stretch justify-between !py-2.5 !px-5 text-white text-center font-medium rounded-md;
}

@utility ui-button-small {
  @apply flex items-stretch justify-between py-2 px-6 text-white text-center font-medium rounded-md;
}

@utility ui-dropdown {
  @apply text-ld w-full max-w-56! bg-white dark:bg-dark shadow-md dark:shadow-dark-md text-start rounded-sm py-3;
}

@utility ui-dropdown-item {
  @apply flex w-full gap-3 cursor-pointer items-center justify-start px-4 py-2 text-sm text-ld hover:text-primary bg-hover focus:bg-hover focus:outline-hidden;
}

@utility ui-dropdown-animation {
  @apply origin-top-right transition duration-100 ease-out [--anchor-gap:var(--spacing-1)] focus:outline-hidden data-closed:scale-95 data-closed:opacity-0;
}

@utility ui-form-control {
  @apply border border-border bg-transparent dark:bg-transparent w-full text-sm rounded-md;

  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent dark:ring-transparent dark:focus:ring-0;
  }
}

@utility ui-checkbox {
  @apply !h-[18px] !w-[18px] border !border-border !bg-white dark:!bg-transparent data-checked:!bg-primary dark:data-checked:!bg-primary rounded cursor-pointer focus:ring-0 focus:ring-offset-0 outline-hidden;
}

@layer components {
  body {
    @apply text-sm overflow-x-hidden dark:bg-dark text-bodytext dark:text-link;
  }
  button {
    @apply !cursor-pointer;
  }
  pre {
    @apply !rounded-[12px];
  }

  /*heading text color*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark dark:text-white font-semibold;
  }
  input[type='radio']:focus {
    @apply !ring-primary;
  }
  input[type='radio']:checked {
    @apply !bg-primary;
  }

  input::placeholder {
    @apply text-link;
  }
  span {
    @apply leading-none;
  }

  .ai-response h1,
  .ai-response h2,
  .ai-response h3,
  .ai-response h4,
  .ai-response h5,
  .ai-response h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .ai-response p {
    margin: 0.3rem 0;
    line-height: 1.6;
  }
  .ai-response p strong {
    font-size: 15px;
  }
  .ai-response ul,
  .ai-response ol {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: disc;
  }

  .ai-response li {
    margin-bottom: 0.7rem;
  }
}
