.dark:root {
    --color-surface-ld: #1A2537;
}

.dark .timeline-tabs .timeline .timeline-icon:after {
    background-color: var(--color-darkborder);
}

.dark .timeline-tabs .timeline-list {
    border-bottom: 1px solid var(--color-darkborder);
}

.dark #vector-map svg .dxm-background {
    fill: transparent !important;
}

.dark #vector-map svg path {
    stroke-width: 0;
}

.dark .rbc-today {
    background-color: var(--color-darkmuted);
}

.dark .rbc-month-row+.rbc-month-row,
.dark .rbc-day-bg+.rbc-day-bg,
.dark .rbc-header,
.dark .rbc-month-view,
.dark .rbc-toolbar button,
.dark .rbc-time-view,
.dark .rbc-timeslot-group,
.dark .rbc-day-slot .rbc-time-slot,
.dark .rbc-time-content,
.dark .rbc-time-header-content,
.dark .rbc-agenda-view table.rbc-agenda-table,
.dark .rbc-agenda-view table.rbc-agenda-table tbody>tr+tr,
.dark .rbc-agenda-view table.rbc-agenda-table tbody>tr>td+td,
.dark .rbc-time-content>*+*>* {
    border-color: var(--color-darkborder) !important;
}

.dark .rbc-day-bg+.rbc-day-bg {
    border-left: 1px solid var(--color-darkborder) !important;
}

.dark .rbc-toolbar button {
    color: var(--color-white);
}

.dark .rbc-btn-group button + button {
  border-left: 1px solid var(--color-primary) !important;
}

.dark .rbc-toolbar button:focus {
  color: var(--color-primary) !important;
}

.dark .rbc-toolbar button:hover {
  color: var(--color-primary) !important;
}

.dark .rbc-toolbar button:is(:hover, :active, .rbc-active) {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  box-shadow: none !important;
  border-radius: 0; /* no need for px if zero */
}

.dark .ql-toolbar.ql-snow {
    border: 1px solid var(--color-darkborder) !important;
}

.dark .ql-container.ql-snow {
    border: 1px solid var(--color-darkborder) !important;
}

.dark .code-modal pre {
    background-color: var(--color-darkmuted) !important;
    color: inherit !important;
}

/* For input Date */
.dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*  nft icon */
.dark .icon-white {
    filter: invert(99%) sepia(3%) saturate(693%) hue-rotate(328deg) brightness(118%) contrast(100%);
}

